node_modules/
dist/
src-tauri/target/
.env
worker/.dev.vars

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# Android
MHTalk Android/.gradle/
MHTalk Android/.idea/
MHTalk Android/local.properties
MHTalk Android/**/build/
MHTalk Android/*.jks
MHTalk Android/*.keystore
MHTalk Android/release/
MHTalk Android/*.png
MHTalk Android/*.xml
/*.png
/tauri-dev-android-test*.log
